<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bros.css' %}">
    <!-- <link href="{% static 'css/bros.css' %}" rel="stylesheet"> -->
</head>
<body class="dd">
    <section class="wrapper">
    
        <div class="container">
                        <div id="scene" class="scene" data-hover-only="false">
            
    
                <div class="circle" data-depth="1.2"></div>
    
                <div class="one" data-depth="0.9">
                    <div class="content">
                        <span class="piece"></span>
                        <span class="piece"></span>
                        <span class="piece"></span>
                    </div>
                </div>
    
                <p class="p404" data-depth="0.50">404</p>
                <p class="p404" data-depth="0.10">404</p>
    
            </div>
    
            <div class="text">
                <article>
                    <p>Uh oh! Looks like you got lost. <br>Go back to the homepage if you dare!</p>
                    <a href="/" style="text-decoration: none;"><button>i dare!</button></a>
                </article>
            </div>
    
        </div>
    </section>
    
</body>
</html>